.edit-chapter-select{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #9D9D9D;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black; 
    outline: none;
    width: 75%;
    height: 30px;
    appearance:none;
    background-image: url(../../../public/iconSelect.png);
    background-repeat: no-repeat;
    background-position: right;
}