.seccionChapters{
    width: 80%;
    height: auto;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
.img-chapter{
    width: 20%;
    height: auto;
}
.seccion1-chapter{
    width: 40%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
   
}
.seccion2-cahpters{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;

}
.puntitos{
    width: 20%;
    height: 2vh;
    background-color: rgb(52, 50, 50);
    background: #c1c1c1ad;
    border-radius: 40px;
    color: black;
    font-family: 'Times New Roman';
    font-size: 1rem;
}
.read{
    width: 10vw;
    height: 5vh;
    border-radius: 40px;
}
@media (max-width: 900px) {
    .read{
        width: 20vw;
        height: 5vh;
        border-radius: 40px;
    }
}