.manga {
  background: linear-gradient(153.39deg, #f9a8d4 -13.9%, #f472b6 58.69%);
  border-radius: 6px;
  width: 70%;
  height: 30%;
  display: flex;
  color: white;
}
.section-manga {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  gap: 10px;
  width: 40%;
  margin-left: 20px;
}
.hero {
  width: auto;
  height: 18rem;
  bottom: 0px;
  left: 0px;
  position: absolute;
}
.hero2 {
  width: auto;
  height: 18rem;
  margin-bottom: 5rem;
  position: absolute;
  right: 90px;
  bottom: -60px;
}
.img-container {
  width: 50%;
  position: relative;
  justify-content: space-around;
  display: flex;
}

@media (min-width: 320px) and (max-width: 767px) {
  .manga {
    display: none;
  }
  #MingaHash {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    width: 60%;
    height: auto;
    z-index: 10;
    left: 0;
    position: absolute;
  }
  .hero2 {
    position: absolute;
    padding: 1rem;
    display: block;
    width: 40%;
    height: auto;
    right: 0px;
    bottom: -30px;
  }
  .img-container {
    width: 60%;
  }
  .section-manga {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .manga {
    width: 90%;
  }
  .img-container {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .hero2 {
    right: 10px;
  }
}

